*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #38bdf8;
  --main-darker: #0ea5e9;
  --main-font-color: #262626;
  --light-font-color: #737373;
  --border: #a3a3a3;
  --light-border: #e5e5e5;
  --hover: #eeeeee;
}

#root{
  height: 100vh;
  display: flex;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.formButton,
.formButtonInactive{
  width: 100px;
  height: 40px;
  background-color: var(--main-darker);
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.2s ease-out;
}

.formButtonInactive{
  opacity: 0.3;
}

.formButton:hover{
  cursor: pointer;
  background-color: var(--main-color);
}

.popupBackground{
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closePopup{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 0px;
  transition: background-color 0.2s ease-out;
}

.closePopup:hover{
  background-color: #e4e4e7;
  cursor: pointer;
}

.closeIcon{
  width: 12px;
  height: auto;
}

.mainButton{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px;
  background-color: white;
  transition: background-color 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainButton:hover{
  background-color: var(--hover);
  cursor: pointer;
}

.mainButtonImg{
  width: 20px;
  height: auto;
  filter: invert(24%) sepia(0%) saturate(5%) hue-rotate(205deg) brightness(98%) contrast(95%);
}

.bigButton{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0px;
  background-color: var(--main-darker);
  transition: background-color 0.2s ease-out;
}

.bigButton:hover{
  background-color: var(--main-color);
  cursor: pointer;
}

.bigButtonImg{
  width: 20px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.popup{
  position: relative;
  background-color: white;
  padding: 50px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.wrongFileMessage{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5vh;
  width: 300px;
  height: 60px;
  background-color: var(--main-darker);
  color: white;
  font-weight: bold;
}