*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  --main-color: #38bdf8;
  --main-darker: #0ea5e9;
  --main-font-color: #262626;
  --light-font-color: #737373;
  --border: #a3a3a3;
  --light-border: #e5e5e5;
  --hover: #eeeeee;
  --background: #ffffff;
  --main-filter: invert(39%) sepia(0%) saturate(0%) hue-rotate(146deg) brightness(111%) contrast(79%);
}

body.dark{
  --main-color: #7d67c2;
  --main-darker: #5a4983;
  --main-font-color: #f5f5f5;
  --light-font-color: #d4d4d4;
  --border: #a3a3a3;
  --light-border: #525252;
  --hover: #404040;
  --background: #262626;
  --main-filter: invert(98%) sepia(0%) saturate(6246%) hue-rotate(195deg) brightness(116%) contrast(66%);
}

#root{
  height: 100vh;
  display: flex;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

input[type=text],
input[type=password]{
  background-color: var(--background);
  color: var(--main-font-color)
}

.popupBackground{
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup{
  position: relative;
  background-color: var(--background);
  padding: 50px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  animation: slideIntoView 150ms ease-out;
}

@keyframes slideIntoView {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrongFileMessage{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 3vh;
  width: 300px;
  height: 60px;
  background-color: var(--main-darker);
  color: white;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#drawerWrapper,
#sidebarDrawerWrapper{
  top: 0px;
  right: 0px;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
  padding-left: 5px;
}

#sidebarDrawerWrapper{
  width: 100%;
  padding-left: 0;
}

#drawer,
#sidebarDrawer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: translateX(110%);
  transition: transform 0.3s ease-out;
  visibility: visible;
  background-color: var(--background);
}

#sidebarDrawer{
  width: 100%;
  box-shadow: none;
  transform: translateX(100%);
  transition: transform 0.15s ease-out;
}

#drawer.active,
#sidebarDrawer.active{
  transform: translateX(0%);
  transition: transform 0.3s ease-out;
}

/* toggle */

.toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 14px;
}

.toggleInput{
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggleInput:checked + .slider {
  background-color: var(--main-color);
}

.toggleInput:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
  transform: translateX(17px);
}

/**/

[contenteditable=true]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--light-font-color);
}

/*custom scroll*/

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

@media (max-width: 768px) {
  #drawer{
    width: 100vw;
  }
}