#chatHeader{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 15px;
  border-bottom: 1px solid var(--light-border);
}

.chatHeaderInfo{
  display: flex;
  gap: 15px;
}

#chatHeaderPic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatInfoText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatName{
  font-weight: bold;
  color: var(--main-font-color);
}

#chatUserStatus{
  color: var(--main-color);
  font-size: 0.9rem;
}

#chatLastSeen,
#chatSubscribers{
  color: var(--light-font-color);
  font-size: 0.9rem;
}

#verticalMenu{
  font-size: 1.5rem;
}

.menu#chatMenu{
  top: 55px;
  right: 20px;
}

.chatField{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('/src/assets/images/background.jpg');
  background-position: center;
  padding: 20px 20%;
  align-items: flex-end;
  gap: 5px;
  overflow-y: auto;
} 

.chatField::-webkit-scrollbar {
  width: 5px;
}

.chatField::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.joinChatButton{
  border: 0px;
  height: 50px;
  background-color: var(--main-darker);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: background-color 0.2s ease-out;
}

.joinChatButton:hover{
  cursor: pointer;
  background-color: var(--main-color);
}

#joinPrivateWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#joinPrivateImage{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

#joinPrivateName{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-font-color)
}

#joinPrivateInfo,
#joinPrivateSubscribers{
  color: var(--light-font-color)
}

#joinPrivateButton{
  width: 200px;
}

#joinPrivateSent{
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: bold;
}

/*new message*/

#messageForm{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 1px solid var(--light-border);
  padding-right: 5px;
}

#messageInput{
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px 8px;
}

#messageInput:focus{
  outline: none;
}

#uploadMediaPopup{
  width: 400px;
  min-height: 250px;
}

#uploadImagePreview{
  border-radius: 10px;
}

#uploadForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#uploadCaptionInput{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 0px 8px;
  border: 1px solid var(--border)
}

#uploadCaptionInput:focus{
  outline: none;
  border: 2px solid var(--main-color);
}

#drawerWrapper{
  top: 0px;
  right: 0px;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
  padding-left: 5px;
}

#drawer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: translateX(110%);
  transition: transform 0.3s ease-out;
  visibility: visible;
}

#drawer.active{
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

@media (max-width: 1200px) {
  .chatField{
    padding: 20px 5%;
  }
}

@media (max-width: 768px) {
  #drawer{
    width: 100vw;
  }

  #uploadMediaPopup{
    width: 90%;
  }

  #newGroupInput{
    width: 100%;
  }
}


