.chatHeader{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0px 15px;
  border-bottom: 1px solid var(--light-border);
}

.chatHeaderUser{
  display: flex;
  gap: 15px;
}

.chatHeaderPic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chatField{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url('/src/assets/images/background.jpg');
  background-position: center;
  padding: 20px 100px 20px 100px;
  align-items: flex-end;
  gap: 5px;
  overflow-y: auto;
} 

.chatField::-webkit-scrollbar {
  width: 5px;
}

.chatField::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.message{
  display: flex;
  gap: 5px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.myMessage{
  display: flex;
  gap: 5px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.messageText{
  color: var(--main-font-color);
}

.messageTime{
  color: var(--light-font-color);
  font-size: 0.7rem;
}

#messageForm{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 1px solid var(--light-border);
}

#messageInput{
  width: 80%;
  height: 35px;
  padding: 0px 8px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}

#messageInput:focus{
  outline: none;
}