#chatHeader{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 15px;
  border-bottom: 1px solid var(--light-border);
}

.chatHeaderInfo{
  display: flex;
  gap: 15px;
}

#chatHeaderPic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatInfoText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatName{
  font-weight: bold;
  color: var(--main-font-color);
}

#chatUserStatus{
  color: var(--main-color);
  font-size: 0.9rem;
}

#chatLastSeen,
#chatSubscribers{
  color: var(--light-font-color);
  font-size: 0.9rem;
}

/* requests popup */
#requestsPopup{
  max-height: 60vh;
  overflow-y: auto;
  position: relative;
  gap: 0px;
}

#requestsPopup::-webkit-scrollbar {
  width: 5px;
}

#requestsPopup::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.requestsTitle{
  color: var(--main-font-color);
  font-size: 1.2rem;
}

.userCard{
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 10px;
  transition: background-color 0.2s ease-out;
}

.userCard:hover{
  background-color: #f5f5f5;
  cursor: pointer;
}

.userCardPicWrapper{
  width: 60px;
  height: 60px;
  position: relative;
}

.userCardPic{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userCardStatus{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}

.userCardInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.userCardName{
  font-weight: bold;
  color: var(--main-font-color);
}

.userCardStatusText{
  color: var(--main-color);
  font-size: 0.9rem;
}

.userCardLastSeen{
  color: var(--light-font-color);
  font-size: 0.9rem;
}

.requestButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.acceptButton,
.declineButton{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px;
  background-color: var(--main-darker);
  transition: background-color 0.2s ease-out;
  margin-left: auto;
}

.declineButton{
  background-color: inherit;
}

.acceptButton:hover{
  background-color: var(--main-color);
  cursor: pointer;
}

.declineButton:hover{
  background-color: #fee2e2;
  cursor: pointer;
}

.acceptButtonImg,
.declineButtonImg{
  width: 14px;
  height: auto;
  filter: invert(98%) sepia(0%) saturate(6037%) hue-rotate(226deg) brightness(123%) contrast(100%);
}

.declineButtonImg{
  filter: invert(29%) sepia(69%) saturate(5529%) hue-rotate(347deg) brightness(88%) contrast(96%);
}

/**/

.chatField{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('/src/assets/images/background.jpg');
  background-position: center;
  padding: 20px 20%;
  align-items: flex-end;
  gap: 5px;
  overflow-y: auto;
} 

.chatField::-webkit-scrollbar {
  width: 5px;
}

.chatField::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.joinChatButton{
  border: 0px;
  height: 50px;
  background-color: var(--main-darker);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: background-color 0.2s ease-out;
}

.joinChatButton:hover{
  cursor: pointer;
  background-color: var(--main-color);
}

#joinPrivateWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#joinPrivateImage{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

#joinPrivateName{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-font-color)
}

#joinPrivateInfo,
#joinPrivateSubscribers{
  color: var(--light-font-color)
}

#joinPrivateButton{
  width: 200px;
}

#joinPrivateSent{
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .chatField{
    padding: 20px 5%;
  }
}

@media (max-width: 768px) {
  #uploadMediaPopup{
    width: 90%;
  }

  #newGroupInput{
    width: 100%;
  }
}


