#content{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: calc(100vw - 420px);
  position: relative;
}

.homeField{
  display: flex;
  flex: 1;
  height: 100vh;
  background-image: url('/src/assets/images/background.jpg');
  background-position: center;
} 