#content{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  position: relative;
  background-image: url('/src/assets/images/background.jpg');
  background-position: center;
}

#content.dark{
  background-image: url('/src/assets/images/background-dark.jpg');
}
