.message,
.myMessage{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 450px;
  background-color: #f0fdf4;
}

.myMessage.dark{
  background-color: var(--main-darker);
}

.message{
  margin-right: auto;
  background-color: var(--background);
}

.messageMedia{
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--light-border);
}

.messageMedia:hover{
  cursor: pointer;
}

.popupBackground.media{
  background: rgba(0, 0, 0, .85);
}

.messageMediaBig{
  height: 80%;
  width: auto;
  border-radius: 25px;
}

.messageContent{
  color: var(--main-font-color);
  word-break: break-word;
}

.messageAuthor{
  color: var(--light-font-color);
  font-weight: bold;
  font-size: 0.9rem;
}

.messageSideInfo{
  display: flex;
  gap: 4px;
  align-items: center;
  float: right;
  padding-left: 10px;
  position: relative;
  top: 5px;
}

.messageTime{
  color: var(--light-font-color);
  font-size: 0.7rem;
}

.messageSent{
  height: auto;
  width: 15px;
  filter: invert(10%) sepia(0%) saturate(458%) hue-rotate(135deg) brightness(93%) contrast(87%);
}

.messageSent.dark{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.messageRead{
  height: auto;
  width: 15px;
  filter: invert(58%) sepia(96%) saturate(2561%) hue-rotate(166deg) brightness(92%) contrast(98%);
}

.messageRead.dark{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/*new message*/

#messageForm{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  border-top: 1px solid var(--light-border);
  padding: 0px 5px;
}

#messageInput{
  width: calc(100% - 80px);
  height: 100%;
  border: 0px;
  padding: 0px 8px;
  background-color: var(--background);
  color: var(--main-font-color)
}

#messageInput:focus{
  outline: none;
}

#uploadMediaPopup{
  width: 400px;
  min-height: 250px;
}

.uploadMediaPreview{
  border-radius: 10px;
  max-height: 300px;
}

.fileBlock{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.fileImageWrapper{
  position: relative;
}

.fileImage{
  width: 60px;
  height: auto;
  filter: invert(60%) sepia(80%) saturate(993%) hue-rotate(167deg) brightness(99%) contrast(96%);
}

.fileImage.dark{
  filter: invert(48%) sepia(89%) saturate(834%) hue-rotate(218deg) brightness(78%) contrast(93%);
}

.fileExtension{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-font-color);
  font-weight: bold;
}

.fileText{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 70px)
}

.fileName{
  color: var(--main-font-color);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileSize{
  color: var(--light-font-color);
  font-size: 0.9rem;
}

#uploadForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

#uploadCaptionInput{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 0px 8px;
  border: 1px solid var(--border)
}

#uploadCaptionInput:focus{
  outline: none;
  border: 2px solid var(--main-color);
}

#emojiPickerWrapper{
  position: absolute;
  left: 8px;
  bottom: 55px;
  visibility: hidden;
  transform-origin: left bottom;
  transform: scale(0.85);
  opacity: 0;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, visibility 0.15s;
}

#emojiPickerWrapper.visible{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}

@media (max-width: 1024px) {
  .message,
  .myMessage{
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  #uploadMediaPopup{
    width: 90%;
  }
}