.message,
.myMessage{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  box-shadow: var(--soft-shadow);
  max-width: 450px;
  background-color: #f0fdf4;
}

.myMessage.dark{
  background-color: var(--main-darker);
}

.message{
  margin-right: auto;
  background-color: var(--background);
}

.messageMedia{
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--light-border);
}

.messageMedia:hover{
  cursor: pointer;
}

.popupBackground.media{
  background: rgba(0, 0, 0, .85);
}

.messageMediaBig{
  max-height: 80%;
  width: auto;
  max-width: 80%;
  border-radius: 20px;
}

.messageContent{
  color: var(--main-font-color);
  word-break: break-word;
}

.messageAuthor{
  color: var(--light-font-color);
  font-weight: bold;
  font-size: 0.9rem;
}

.messageSideInfo{
  display: flex;
  gap: 4px;
  align-items: center;
  float: right;
  padding-left: 10px;
  position: relative;
  top: 5px;
}

.messageTime{
  color: var(--light-font-color);
  font-size: 0.7rem;
}

.messageSent{
  height: auto;
  width: 15px;
  filter: invert(10%) sepia(0%) saturate(458%) hue-rotate(135deg) brightness(93%) contrast(87%);
}

.messageSent.dark{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.messageRead{
  height: auto;
  width: 15px;
  filter: invert(58%) sepia(96%) saturate(2561%) hue-rotate(166deg) brightness(92%) contrast(98%);
}

.messageRead.dark{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.fileBlock{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.fileImageWrapper{
  position: relative;
}

.fileImage{
  width: 60px;
  height: auto;
  filter: invert(60%) sepia(80%) saturate(993%) hue-rotate(167deg) brightness(99%) contrast(96%);
}

.fileImage.dark{
  filter: invert(48%) sepia(89%) saturate(834%) hue-rotate(218deg) brightness(78%) contrast(93%);
}

.fileExtension{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.fileText{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 70px)
}

.fileName{
  color: var(--main-font-color);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileSize{
  color: var(--light-font-color);
  font-size: 0.9rem;
}

@media (max-width: 1024px) {
  .message,
  .myMessage{
    max-width: 80%;
  }
}

