#profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHeader{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  align-items: center;
  padding: 10px;
}

#profileContent{
  animation: sidebarShrink 200ms ease-in-out;      
}

@keyframes sidebarShrink {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.profilePicture{
  width: 100%;
  height: auto;
  vertical-align: top;
}

.profileInfoBlock{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  height: 100px;
  width: 100%;
  background-color: #fafafa;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light-border);
}

.profileInfoTitle{
  font-size: 0.8rem;
  color: var(--main-font-color);
}

.profileInfo{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-darker);
}

/*in drawer*/

#profilePictureWrapper{
  position: relative;
}

.profilePicCaption{
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: #f5f5f5;
  font-size: 0.8rem;
  background: linear-gradient(0deg, rgba(18,18,18,0.75) 0%, rgba(0,0,0,0) 100%);
}

.profileInfoBlock.clickable:hover{
  cursor: pointer;
  background-color: var(--hover);
}

/*form*/
.profileSubmit,
.profileSubmitInactive{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0px;
  background-color: var(--main-darker);
  transition: background-color 0.2s ease-out;
  margin-left: auto;
}

.profileSubmitInactive{
  opacity: 0.3;
}

.profileSubmit:hover{
  background-color: var(--main-color);
  cursor: pointer;
}

#profileEditForm{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  animation: sidebarShrink 200ms ease-in-out;
}

.changeProfilePicture{
    padding: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.uploadProfileImage{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.addImageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    background: rgba(34, 34, 34, 0.7);
    border-radius: 50%;
    transition: background-color 0.2s ease-out;
}

.addImageWrapper:hover{
    background: rgba(34, 34, 34, 0.6);
    cursor: pointer;
}

.addImageWrapper:active{
    background: rgba(34, 34, 34, 0.2);
}

.uploadInput{
  display: none;
}

.uploadImageAdd{
    width: 22px;
    height: auto;
    filter: invert(100%) sepia(40%) saturate(2%) hue-rotate(335deg) brightness(109%) contrast(101%);
}   

.profileInput{
  width: 90%;
  height: 35px;
  border-radius: 5px;
  padding: 0px 8px;
  border: 1px solid var(--border);
}

.profileInput:focus{
  outline: none;
  border: 2px solid var(--main-color);
}

/**/

.wrongFileMessage#wfmProfile{
  position: absolute;
}